body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background: none 0 0 no-repeat rgba(0, 180, 140, 1);
}

@media screen and (max-width: 1024px) {
    body{ font-size: 10px; }
}

section {
    margin-top: 10%;
}

.phone-container {
    display: block;
    text-align: center;
}

.phone {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.phone-text {
    display: inline-block;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 2em;
}

@media screen and (min-width: 768px) {
    .phone-container,
    .phone-text { 
        width: 50%;
        display: inline-block;
    }
}

.red {
    color: rgba(255, 104, 63, 1);
}

.mint {
    color: #0FC46F;
}

.light-blue {
    color: rgba(104, 202, 255, 1);
}

/* device */
.phone .note8 .screen {
    background-color: #e9ebee;
    position: relative;
}

/* verification screen */
.note8 .screen .shipster-splash,
.note8 .screen .shipster-background,
.note8 .screen .shipster-background-done {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,180,140,1);
    width: 100%;
    height: 53.125em;
    opacity: 1;
}

.note8 .screen .shipster-background {
    opacity: 0;
    animation: verify-screen 10s linear infinite;
}

.note8 .screen .shipster-background-done {
    opacity: 0;
    animation: done-screen 10s linear infinite;
}

.note8 .screen .no-animate {
    opacity: 1;
    animation: none !important;
}

.shipster-title,
.landing .shipster-title,
.note8 .screen .shipster-splash .shipster-title,
.note8 .screen .shipster-background .shipster-verify,
.note8 .screen .shipster-background-done .shipster-verify {
    font-family: 'Unica One', cursive;
    font-size: 3.75em;
    line-height: 2.5em;
    vertical-align: top;
    margin-top: 0;
    color: #fff;
    text-align: center;
}

.shipster-title.main {
    font-size: 3.75em;
    line-height: 2em;
    margin: 10px auto;
}

.note8 .screen .oversize-icon,
.landing .oversize-icon {
    margin: 9.375em auto 1.5625em;
    width: 18.75em;
    height: 18.75em;
    background-color: rgba(255,255,255,1);
    border-radius: 50%;
    overflow: hidden;
}
.landing .oversize-icon { margin-top: 1.25em; }

.note8 .screen .oversize-icon .shipster-logo,
.landing .oversize-icon .shipster-logo {
    background: url('../resources/img/ship.svg') 0 0 no-repeat;
    width: 15.625em;
    height: 15.625em;
    background-size: 100%;
    margin: 1.5625em auto;
}

.note8 .screen .oversize-icon .shipster-finger-print {
    background: url('../resources/img/print.svg') 0 0 no-repeat;
    width: 18.75em;
    height: 18.75em;
    background-size: 95% auto;
    margin: 0;
}

.note8 .screen .oversize-icon .shipster-done {
    background: url('../resources/img/misc.svg') 0 0 no-repeat;
    width: 9.375em;
    height: 9.375em;
    background-size: 100% auto;
    margin: 4.6875em auto;
}

.note8 .screen .verify-text,
.note8 .screen .verify-text-hold {
    color: rgba(255,255,255,0.5);
    font-size: 24px;
}

.note8 .screen .shipster-background .verify-text-hold {
    margin-top: -35px;
    animation: verify-bullits 10s linear infinite;
    animation-delay: 1.5s;
}

.note8 .screen .shipster-background .verify-text {
    animation: verify-opposite 10s linear infinite;
    animation-delay: 1.5s;
}